/* STILE BASE PAGINA */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* STILE MAIN */

main {
    width: 100%;
    background-color: #083b4c;
    padding: 50px 15%;
}

main h1 {
    font-size: 80px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

main ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

/* STILE BOX */

.box {
    height: 120px;
    width: 120px;
    line-height: 120px;
    vertical-align: middle;
    text-align: center;
    margin: 15px;
    background-color: green;
    font-size: 20px;
    font-weight: 600;
}

.number-box {
    background-color: #1389b2;
}

.fizz-box {
    background-color: #0bd6a1;
}

.buzz-box {
    background-color: #ffd166;
}

.fizzbuzz-box {
    background-color: #f0466f;
}